@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.btn-blue {
  background-color: #0e6cff;
  color: #f4f4f4;
  border: 1px solid #5b9bff;
  border-radius: 50px;
  font-family: inherit;
  cursor: pointer;
}
.btn-blue:hover {
  background-color: #0e62e6;
}

.btn-orange {
  background-color: #ff8700;
  color: #f4f4f4;
  border: 1px solid #ffab4d;
  border-radius: 50px;
  font-family: inherit;
  cursor: pointer;
}
.btn-orange:hover {
  background-color: #e67a00;
}

.btn-green {
  background-color: #4caf50;
  color: #f4f4f4;
  border: 1px solid #80c883;
  border-radius: 50px;
  font-family: inherit;
  cursor: pointer;
}
.btn-green:hover {
  background-color: #4c964f;
}

.flex {
  display: flex;
}

.blue {
  background-color: #0e6cff;
}

.orange {
  background-color: #ff8700;
}

.green {
  background-color: #4caf50;
}

.padding-inline-sm {
  padding-inline: 0.25rem;
}

.padding-block-sm {
  padding-block: 0.25rem;
}

.margin-inline-sm {
  margin-inline: 0.25rem;
}

.margin-block-sm {
  margin-block: 0.25rem;
}

.font-size-sm {
  font-size: 0.25rem;
}

.padding-inline-normal {
  padding-inline: 0.5rem;
}

.padding-block-normal {
  padding-block: 0.5rem;
}

.margin-inline-normal {
  margin-inline: 0.5rem;
}

.margin-block-normal {
  margin-block: 0.5rem;
}

.font-size-normal {
  font-size: 0.5rem;
}

.padding-inline-md {
  padding-inline: 1rem;
}

.padding-block-md {
  padding-block: 1rem;
}

.margin-inline-md {
  margin-inline: 1rem;
}

.margin-block-md {
  margin-block: 1rem;
}

.font-size-md {
  font-size: 1rem;
}

.padding-inline-lg {
  padding-inline: 1.5rem;
}

.padding-block-lg {
  padding-block: 1.5rem;
}

.margin-inline-lg {
  margin-inline: 1.5rem;
}

.margin-block-lg {
  margin-block: 1.5rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.padding-inline-xl {
  padding-inline: 2.5rem;
}

.padding-block-xl {
  padding-block: 2.5rem;
}

.margin-inline-xl {
  margin-inline: 2.5rem;
}

.margin-block-xl {
  margin-block: 2.5rem;
}

.font-size-xl {
  font-size: 2.5rem;
}

.padding-inline-xxl {
  padding-inline: 5rem;
}

.padding-block-xxl {
  padding-block: 5rem;
}

.margin-inline-xxl {
  margin-inline: 5rem;
}

.margin-block-xxl {
  margin-block: 5rem;
}

.font-size-xxl {
  font-size: 5rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-navbar {
  background-color: #1f1717;
  justify-content: center;
}
.container-navbar .navbar {
  width: 60%;
  align-items: center;
}
.container-navbar .navbar img {
  width: 100px;
  height: 100px;
}
.container-navbar .navbar ul {
  margin-left: auto;
}
.container-navbar .navbar ul li {
  display: inline-block;
  margin-left: 40px;
  font-size: 18px;
}
.container-navbar .navbar a {
  text-decoration: none;
  color: #f4f4f4;
}

.container-main {
  align-items: center;
  flex-direction: column;
}
.container-main .headline {
  width: 60%;
  align-items: center;
  text-align: center;
  background-color: #640fc5;
  color: #f4f4f4;
  margin-top: 50px;
  border-radius: 50px;
  box-shadow: 0 0.75rem 3rem rgba(28, 21, 21, 0.57);
  border: 0;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.container-main .headline span {
  font-weight: 800;
  font-style: bold;
}
.container-main .headline p {
  display: inline-block;
  font-weight: 300;
  width: 40%;
  margin-inline: auto;
}
.container-main .headline img {
  width: 40%;
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  margin-bottom: 50px;
  border-radius: 30px;
  box-shadow: 0 0.75rem 3rem rgba(28, 21, 21, 0.57);
  border: 1px solid rgb(211, 211, 211);
}
.container-main .headline .btn-container {
  width: 100%;
  justify-content: space-evenly;
}
@keyframes fadeIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.container-main .imgs {
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.container-main .imgs img {
  width: 20%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
  margin-bottom: 50px;
  animation: fadeIn 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border-radius: 30px;
  box-shadow: 0 0.75rem 3rem rgba(28, 21, 21, 0.57);
  border: 0;
}/*# sourceMappingURL=index.css.map */