@mixin floating($border-radius: 0px, $box-shadow: 0 0 0 black, $border: 0) {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: $border;
}

@mixin grid($value) {
  @if ($value == 2) {
    width: 49%;
  } @else if($value == 3) {
    width: 32%;
  } @else {
    width: 20%;
  }
}
